<div class="markdown-container">
  <app-remarkable src="assets/blogs/how-to-sign-jwt-using-rs256.md">
  </app-remarkable>
</div>

<form #form="ngForm">

  <mat-card>
    <mat-form-field appearance="fill">
      <mat-label>Header</mat-label>
      <textarea (ngModelChange)="headerSubject.next(header)" [(ngModel)]="header"
                cdkTextareaAutosize matInput name="header"></textarea>
      <input [value]="encodedHeader$ | async" matInput readonly/>
    </mat-form-field>
  </mat-card>

  <mat-card>
    <mat-form-field>
      <mat-label>Payload</mat-label>
      <textarea (ngModelChange)="payloadSubject.next(payload)" [(ngModel)]="payload"
                cdkTextareaAutosize
                matInput name="payload"></textarea>
      <input [value]="encodedPayload$ | async" matInput readonly/>
    </mat-form-field>
  </mat-card>

  <mat-card>
    <mat-form-field>
      <mat-label>Private Key</mat-label>
      <textarea (ngModelChange)="privateKeyInputSubject.next(privateKeyInput)" [(ngModel)]="privateKeyInput"
                cdkTextareaAutosize matInput name="base64Input"></textarea>
    </mat-form-field>
  </mat-card>

  <mat-card>
    <mat-form-field>
      <mat-label>Signature</mat-label>
      <input [value]="signature$ | async" matInput readonly/>
    </mat-form-field>
  </mat-card>

  <mat-card>
    <mat-form-field>
      <mat-label>Json Web Token</mat-label>
      <input [value]="jwt$ | async" matInput readonly/>
    </mat-form-field>
  </mat-card>

</form>
