<div class="markdown-container">
  <app-remarkable src="assets/blogs/how-to-sign-jwt-using-rs256.md">
  </app-remarkable>
</div>

<form #form="ngForm">

  <mat-card>
    <mat-form-field appearance="fill">
      <mat-label>Header</mat-label>
      <textarea (ngModelChange)="header.set($event)" [ngModel]="header()"
                cdkTextareaAutosize matInput name="header"></textarea>
      <input [value]="encodedHeader()" matInput readonly/>
    </mat-form-field>
  </mat-card>

  <mat-card>
    <mat-form-field>
      <mat-label>Payload</mat-label>
      <textarea (ngModelChange)="payload.set($event)" [ngModel]="payload()"
                cdkTextareaAutosize
                matInput name="payload"></textarea>
      <input [value]="encodedPayload()" matInput readonly/>
    </mat-form-field>
  </mat-card>

  <mat-card>
    <mat-form-field>
      <mat-label>Private Key</mat-label>
      <textarea (ngModelChange)="privateKeyInput.set($event)" [ngModel]="privateKeyInput()"
                cdkTextareaAutosize matInput name="base64Input"></textarea>
    </mat-form-field>
  </mat-card>

  <mat-card>
    <mat-form-field>
      <mat-label>Signature</mat-label>
      <input [value]="signature()" matInput readonly/>
    </mat-form-field>
  </mat-card>

  <mat-card>
    <mat-form-field>
      <mat-label>Json Web Token</mat-label>
      <input [value]="jwt()" matInput readonly/>
    </mat-form-field>
  </mat-card>

</form>
