<div class="markdown-container">
  <markdown src="assets/blogs/how-to-sign-jwt-using-rs256.md">
  </markdown>
</div>

<form #form="ngForm">

  <mat-card>
    <mat-form-field>
      <textarea (ngModelChange)="headerSubject.next(header)" [(ngModel)]="header" matInput matTextareaAutosize
                name="header"
                placeholder="Header"></textarea>
      <input [value]="encodedHeader$ | async" matInput readonly/>
    </mat-form-field>
  </mat-card>

  <mat-card>
    <mat-form-field>
      <textarea (ngModelChange)="payloadSubject.next(payload)" [(ngModel)]="payload" matInput matTextareaAutosize
                name="payload"
                placeholder="Payload"></textarea>
      <input [value]="encodedPayload$ | async" matInput readonly/>
    </mat-form-field>
  </mat-card>

  <mat-card>
    <mat-form-field>
        <textarea (ngModelChange)="privateKeyInputSubject.next(privateKeyInput)" [(ngModel)]="privateKeyInput" matInput
                  matTextareaAutosize
                  name="base64Input" placeholder="Private Key"></textarea>
    </mat-form-field>
  </mat-card>

  <mat-card>
    <mat-form-field>
      <input [value]="signature$ | async" matInput placeholder="Signature" readonly/>
    </mat-form-field>
  </mat-card>

  <mat-card>
    <mat-form-field>
      <input [value]="jwt$ | async" matInput placeholder="Json Web Token" readonly/>
    </mat-form-field>
  </mat-card>

</form>
