<div class="markdown-container">
  <markdown src="assets/blogs/how-to-sign-jwt-using-rs256.md">
  </markdown>
</div>

<form #form="ngForm">

  <mat-card>
    <mat-form-field>
      <textarea matInput matTextareaAutosize [(ngModel)]="header" name="header" placeholder="Header"
                (ngModelChange)="headerSubject.next(header)"></textarea>
      <input matInput readonly [value]="encodedHeader$ | async"/>
    </mat-form-field>
  </mat-card>

  <mat-card>
    <mat-form-field>
      <textarea matInput matTextareaAutosize [(ngModel)]="payload" name="payload" placeholder="Payload"
                (ngModelChange)="payloadSubject.next(payload)"></textarea>
      <input matInput readonly [value]="encodedPayload$ | async"/>
    </mat-form-field>
  </mat-card>

  <mat-card>
    <mat-form-field>
        <textarea matInput matTextareaAutosize [(ngModel)]="privateKeyInput" name="base64Input"
                  placeholder="Private Key" (ngModelChange)="privateKeyInputSubject.next(privateKeyInput)"></textarea>
    </mat-form-field>
  </mat-card>

  <mat-card>
    <mat-form-field>
      <input matInput readonly [value]="signature$ | async" placeholder="Signature"/>
    </mat-form-field>
  </mat-card>

  <mat-card>
    <mat-form-field>
      <input matInput readonly [value]="jwt$ | async" placeholder="Json Web Token"/>
    </mat-form-field>
  </mat-card>

</form>
