<div class="markdown-container">
  <markdown src="assets/blogs/how-to-sign-jwt-using-rs256.md">
  </markdown>
</div>

<form #form="ngForm">

  <mat-card>
    <mat-form-field>
      <textarea matInput matTextareaAutosize [(ngModel)]="header" name="header" placeholder="Header"
                (ngModelChange)="headerChanged(header)"></textarea>
      <label>
        Base64Url Encoded: <input matInput readonly [value]="encodedHeader$ | async"/>
      </label>
    </mat-form-field>
  </mat-card>

  <mat-card>
    <mat-form-field>
      <textarea matInput matTextareaAutosize [(ngModel)]="payload" name="payload" placeholder="Payload"
                (ngModelChange)="payloadChanged(payload)"></textarea>
      <label>
        Base64Url Encoded:
        <input matInput readonly [value]="encodedPayload$ | async"/>
      </label>
    </mat-form-field>
  </mat-card>

  <mat-card>
    <mat-card-title>RSA Private Key</mat-card-title>
    <mat-card-content>
      <mat-form-field>
        <textarea matInput matTextareaAutosize [(ngModel)]="base64PrivateKey" name="base64PrivateKey"
                  placeholder="Private Key" (ngModelChange)="keyChanged(base64PrivateKey)"></textarea>
      </mat-form-field>
    </mat-card-content>
  </mat-card>
  <mat-card>
    <mat-card-title>Signature</mat-card-title>
    <mat-card-content>
      <mat-form-field>
        <input matInput readonly [value]="sig$ | async"/>
      </mat-form-field>
    </mat-card-content>
  </mat-card>

  <mat-card>
    <mat-card-title>
      JWT
    </mat-card-title>
    <mat-card-content>
      <mat-form-field>
        <input matInput readonly [value]="jwt$ | async"/>
      </mat-form-field>
    </mat-card-content>
  </mat-card>

</form>
