<mat-nav-list>

  <a mat-list-item href="#/blog/my-first-paper">My first paper</a>

  <a mat-list-item href="#/blog/how-to-avoid-executing-the-same-method-in-linq">How to avoid executing the same method in Linq</a>
  <a mat-list-item href="#/blog/how-to-set-up-gradle-android-unit-testing-plugin-and-robolectric">How to set up gradle android unit testing plugin and robolectric</a>
  <a mat-list-item href="#/blog/how-to-run-jetty-as-a-windows-service">How to run jetty as a windows service</a>
  <a mat-list-item href="#/blog/how-to-disable-hibernate-in-windows-7-8">How to disable hibernate in windows 7, 8 & 10</a>
  <a mat-list-item href="#/blog/html5-placeholder-attribute">HTML5 placeholder attribute</a>
  <a mat-list-item href="#/blog/solr-termvectorcomponent">Solr termvectorcomponent</a>
  <a mat-list-item href="#/blog/how-to-get-a-bash-terminal-in-android-studio-on-windows">How to get a bash terminal in android studio on windows</a>
  <a mat-list-item href="#/blog/patternreplacecharfilter">PatternReplaceCharFilter</a>
  <a mat-list-item href="#/blog/how-to-run-a-script-before-system-shutdown-reboot-with-systemd">How to run a script before system shutdown reboot with systemd</a>
  <a mat-list-item href="#/blog/how-to-use-filteringtokenfilter">How to use FilteringTokenFilter</a>
  <a mat-list-item href="#/blog/solr-datasource-parameters">Solr datasource parameters</a>
  <a mat-list-item href="#/blog/ivy-default-setting">ivy default setting</a>
  <a mat-list-item href="#/blog/javascript-curry-function">javascript curry function</a>
  <a mat-list-item href="#/blog/how-to-set-ipython-notebook-cell-and-editor-indentation">How to set ipython notebook cell and editor indentation</a>

</mat-nav-list>
