mat-grid-list {
  min-height: 800px;

  @mixin max-size {
    width: 100%;
    height: 100%;
  }

  .container {
    @include max-size;
    overflow: hidden;
  }

  textarea {
    @include max-size;
    overflow: scroll;
    resize: none;
  }

  .markdown-container {
    @include max-size;
    overflow: scroll;
  }
}
