mat-grid-list {
  min-height: 800px;

  @mixin max-size {
    width: 100%;
    height: 100%;
  }

  .container {
    @include max-size;
    overflow: hidden;
    padding-right: 4em; // make room for the scroll bar
  }

  textarea {
    @include max-size;
    padding: 2em;
    overflow: scroll;
  }

  .markdown-container {
    @include max-size;
    padding: 2em;
    overflow: scroll;
  }
}
