<mat-card>
  <mat-card-title>
    Password Generator
  </mat-card-title>

  <mat-card-content>
    <form #form="ngForm">
      <mat-list role="list">
        <mat-list-item role="listitem">
          <mat-checkbox #lowerCases [(ngModel)]="HasLowerCases" name="hasLowerCases">Lower Cases</mat-checkbox>
        </mat-list-item>
        <mat-list-item role="listitem">
          <mat-checkbox #upperCases [(ngModel)]="HasUpperCases" name="hasUpperCases">Upper Cases</mat-checkbox>
        </mat-list-item>
        <mat-list-item role="listitem">
          <mat-checkbox #digits [(ngModel)]="HasDigits" name="hasDigits">Digits</mat-checkbox>
        </mat-list-item>
        <mat-list-item role="listitem">
          <mat-checkbox #specials [(ngModel)]="HasSpecials" name="hasSpecials">Specials</mat-checkbox>
        </mat-list-item>
        <mat-list-item role="listitem">
          Length:
          <mat-slider #slider displayValue="number" max="99" min="1" step="1" thumbLabel="true"
                      value="{{Length}}"></mat-slider>
        </mat-list-item>
      </mat-list>
    </form>
  </mat-card-content>

  <mat-divider></mat-divider>

  <div [class.center]="!(isHandset$ | async)" [class.full-width]="isHandset$ | async" class="result-container">
    <mat-form-field>
      <input #copyTarget matInput readonly="true" value="{{ result$ | async }}">
    </mat-form-field>
  </div>

  <mat-card-actions>
    <button #generate class="mat-raised-button mat-primary" mat-button>Generate</button>
    <button (click)="openSnackBar()" [ngxClipboard]="copyTarget" class="mat-raised-button mat-accent" mat-button>Copy
    </button>
  </mat-card-actions>
</mat-card>
