<mat-card>
  <mat-card-title>
    Password Generator
  </mat-card-title>

  <mat-card-content>
    <mat-list role="list">
      <mat-list-item role="listitem">
        <mat-checkbox [formControl]="LowerCaseControl">Lower Cases</mat-checkbox>
      </mat-list-item>
      <mat-list-item role="listitem">
        <mat-checkbox [formControl]="UpperCaseControl">Upper Cases</mat-checkbox>
      </mat-list-item>
      <mat-list-item role="listitem">
        <mat-checkbox [formControl]="DigitControl">Digits</mat-checkbox>
      </mat-list-item>
      <mat-list-item role="listitem">
        <mat-checkbox [formControl]="SpecialControl">Specials</mat-checkbox>
      </mat-list-item>
      <mat-list-item role="listitem">
        Length:
        <mat-slider displayValue="number" max="99" min="1" step="1" thumbLabel="true" [formControl]="SliderControl"></mat-slider>
      </mat-list-item>
    </mat-list>
  </mat-card-content>

  <mat-divider></mat-divider>

  <div [class.center]="!(isHandset$ | async)" [class.full-width]="isHandset$ | async" class="result-container">
    <mat-form-field>
      <input #copyTarget matInput readonly="true" value="{{ result$ | async }}">
    </mat-form-field>
  </div>

  <mat-card-actions>
    <button class="mat-raised-button mat-primary" mat-button (click)="GenerateSubject.next()" >Generate</button>
    <button (click)="openSnackBar()" [ngxClipboard]="copyTarget" class="mat-raised-button mat-accent" mat-button>Copy
    </button>
  </mat-card-actions>
</mat-card>
