@import "../app-variables";

.sidenav-container {
  height: 100%;
}

.sidenav {
  width: $sidenav-width;
  margin-bottom: $footer-height;
}

.mat-toolbar.mat-primary {
  position: sticky;
  top: 0;
}
