<mat-sidenav-container class="sidenav-container">
  <mat-sidenav
    #drawer
    [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
    [mode]="(isHandset$ | async) ? 'over' : 'side'"
    [opened]="(isHandset$ | async) === false"
    class="sidenav"
    fixedInViewport="true">
    <mat-toolbar color="primary">Menu</mat-toolbar>
    <mat-nav-list>
      <a [routerLink]="['blog']" mat-list-item><span>🖥️</span>&nbsp;Blog</a>
      <a [routerLink]="['password-generator']" mat-list-item><span>🔑</span>&nbsp;Password Generator</a>
      <a [routerLink]="['webcam']" mat-list-item><span>📹</span>&nbsp;Webcam Test</a>
      <a [routerLink]="['canvas']" mat-list-item><span>🖼</span>&nbsp;️Canvas Showcase</a>
      <a [routerLink]="['tfjs']" mat-list-item><span>🧠</span>&nbsp;Tensorflow JS</a>
      <a [routerLink]="['crypto']" mat-list-item><span>🔒</span>&nbsp;Crypto Showcase</a>
      <a [routerLink]="['pomodoro']" mat-list-item><span>🍅</span>&nbsp;Pomodoro</a>
      <a [routerLink]="['settings']" mat-list-item><span>⚙</span>&nbsp;️Settings</a>
      <a [href]="'https://keys.openpgp.org/search?q=' + pubKey" target="_blank">
        <div class="qrcode-container">
        <qrcode [errorCorrectionLevel]="'M'" [margin]=0 [qrdata]="pubKey" [width]=128></qrcode>
        </div>
      </a>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <mat-toolbar color="primary">
      <button
        (click)="drawer.toggle()"
        *ngIf="isHandset$ | async"
        aria-label="Toggle sidenav"
        mat-icon-button
        type="button">
        <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
      </button>
      <span>{{ title$ | async | titlecase }}</span>
    </mat-toolbar>
    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>
