@import "../app-variables";

.sidenav-container {
  height: 100%;
}

.sidenav {
  width: $sidenav-width;
}

.mat-toolbar.mat-primary {
  position: sticky;
  top: 0;
}

.qrcode-container {
  margin: 1em auto auto auto;
  width: min-content;
}
