@import "../app-variables";

.sidenav-container {
  height: 100%;
}

.sidenav {
  width: $sidenav-width;
}

.mat-toolbar.mat-primary {
  position: sticky;
  top: 0;
}

.mat-list-item {
  span {
    font-family: "Noto Color Emoji", fantasy;
  }
}
