<mat-card>
  <mat-card-content>

    <div>
      <mat-checkbox [formControl]="LowerCaseControl">Lower Cases</mat-checkbox>
    </div>
    <div>
      <mat-checkbox [formControl]="UpperCaseControl">Upper Cases</mat-checkbox>
    </div>
    <div>
      <mat-checkbox [formControl]="DigitControl">Digits</mat-checkbox>
    </div>
    <div>
      <mat-checkbox [formControl]="SpecialControl">Specials</mat-checkbox>
    </div>
    <div>
      <mat-slider discrete matTooltip="Length" max="99" min="1" step="1">
        <input [formControl]="SliderControl" matSliderThumb>
      </mat-slider>
    </div>

  </mat-card-content>

  <mat-divider></mat-divider>

  <mat-form-field [class.center]="(isHandset$ | async) === false" [class.full-width]="(isHandset$ | async)">
    <mat-label>Result</mat-label>
    <input #copyTarget id="copyTarget" matInput readonly value="{{ result$ | async }}">
  </mat-form-field>

  <mat-card-actions>
    <button (click)="GenerateSubject.next(undefined)" class="mat-raised-button mat-primary" id="generate" mat-button>
      Generate
    </button>
    <button (click)="openSnackBar()" [cdkCopyToClipboard]="copyTarget.value" class="mat-raised-button mat-accent"
            mat-button>Copy
    </button>
  </mat-card-actions>
</mat-card>
