<mat-card>
  <mat-card-content>

    <div>

      <mat-checkbox (ngModelChange)="lowerCaseInput.set($event)" [ngModel]="lowerCaseInput()">Lower Cases
      </mat-checkbox>
    </div>
    <div>

      <mat-checkbox (ngModelChange)="upperCaseInput.set($event)" [ngModel]="upperCaseInput()">Upper Cases
      </mat-checkbox>
    </div>
    <div>

      <mat-checkbox (ngModelChange)="digitInput.set($event)" [ngModel]="digitInput()">Digits</mat-checkbox>
    </div>
    <div>

      <mat-checkbox (ngModelChange)="specialInput.set($event)" [ngModel]="specialInput()"> Specials</mat-checkbox>
    </div>
    <div>
      <mat-slider discrete matTooltip="Length" max="99" min="1" step="1">
        <input (ngModelChange)="sliderInput.set($event)" [ngModel]="sliderInput()" matSliderThumb></mat-slider>
    </div>

  </mat-card-content>

  <mat-divider></mat-divider>

  <mat-form-field [class.center]="(isHandset$ | async) === false" [class.full-width]="(isHandset$ | async)">
    <mat-label>Result</mat-label>

    <input #copyTarget id="copyTarget" matInput readonly value="{{ result_() |async}}">
  </mat-form-field>

  <mat-card-actions>

    <button (click)="generateInput.set($event)" class="mat-raised-button mat-primary" id="generate" mat-button>
      Generate
    </button>
    <button (click)="openSnackBar()" [cdkCopyToClipboard]="copyTarget.value" class="mat-raised-button mat-accent"
            mat-button>Copy
    </button>
  </mat-card-actions>
</mat-card>
