<mat-grid-list cols="2" rowHeight="2:1">
  <mat-grid-tile colspan="2">

    <app-remarkable class="markdown-container"
    src="assets/blogs/how-to-compute-coordinates-in-a-canvas-element.md"></app-remarkable>

  </mat-grid-tile>

  <mat-grid-tile>
    <div>
      Drag & Drop in this box.<br>
      <canvas #canvas></canvas>
    </div>
  </mat-grid-tile>

  <mat-grid-tile>
    <ol>
      @for (p of _points().slice().reverse(); track p) {
        <li>{{ p | json }}</li>
      }
    </ol>
  </mat-grid-tile>
</mat-grid-list>
