<mat-nav-list>

  <a href="#/blog/my-first-paper" mat-list-item>My first paper</a>

  <a href="#/blog/how-to-avoid-executing-the-same-method-in-linq" mat-list-item>How to avoid executing the same method
    in Linq</a>
  <a href="#/blog/how-to-set-up-gradle-android-unit-testing-plugin-and-robolectric" mat-list-item>How to set up gradle
    android unit testing plugin and robolectric</a>
  <a href="#/blog/how-to-run-jetty-as-a-windows-service" mat-list-item>How to run jetty as a windows service</a>
  <a href="#/blog/how-to-disable-hibernate-in-windows-7-8" mat-list-item>How to disable hibernate in windows 7, 8 &
    10</a>
  <a href="#/blog/html5-placeholder-attribute" mat-list-item>HTML5 placeholder attribute</a>
  <a href="#/blog/solr-termvectorcomponent" mat-list-item>Solr termvectorcomponent</a>
  <a href="#/blog/how-to-get-a-bash-terminal-in-android-studio-on-windows" mat-list-item>How to get a bash terminal in
    android studio on windows</a>
  <a href="#/blog/patternreplacecharfilter" mat-list-item>PatternReplaceCharFilter</a>
  <a href="#/blog/how-to-run-a-script-before-system-shutdown-reboot-with-systemd" mat-list-item>How to run a script
    before system shutdown reboot with systemd</a>
  <a href="#/blog/how-to-use-filteringtokenfilter" mat-list-item>How to use FilteringTokenFilter</a>
  <a href="#/blog/solr-datasource-parameters" mat-list-item>Solr datasource parameters</a>
  <a href="#/blog/ivy-default-setting" mat-list-item>ivy default setting</a>
  <a href="#/blog/javascript-curry-function" mat-list-item>javascript curry function</a>
  <a href="#/blog/how-to-set-ipython-notebook-cell-and-editor-indentation" mat-list-item>How to set ipython notebook
    cell and editor indentation</a>

</mat-nav-list>
