@import "~@angular/material/theming";
@import "../app-variables";

$primary: mat-palette($mat-indigo);

.device-desktop {
  margin-left: $sidenav-width;
}

.footer {
  background-color: mat-color($primary);
  height: $footer-height;
  text-align: center;

  .qrcode-container {
    margin: 10px auto auto 10px;
    width: min-content;
    position: absolute;
  }
}
