@use '@angular/material' as mat;
@import "../app-variables";

$primary: mat.define-palette(mat.$indigo-palette);

.device-desktop {
  margin-left: $sidenav-width;
}

.footer {
  background-color: mat.get-color-from-palette($primary);
  height: $footer-height;
  text-align: center;

  .qrcode-container {
    margin: 10px auto auto 10px;
    width: min-content;
    position: absolute;
  }
}
