<mat-grid-list [cols]="(isHandset$ | async) ? 1 : 2" rowHeight="400px">

  <mat-grid-tile>
    <mat-card>
      <mat-card-content #message class="center">
        <div class='clock'>{{ (this.clock$ | async)! | pomodoroTime }}</div>
        <div class='note'>{{ (this.note$ | async) || '🍅' }}</div>
      </mat-card-content>
    </mat-card>
  </mat-grid-tile>

  <mat-grid-tile>
    <mat-card>
      <mat-card-title>
        Choose your 🍅 style
      </mat-card-title>
      <mat-card-content class='input-panel'>
        <div class='group'>
          <mat-button-toggle-group #pomodoroSequence (change)='pomodoroSequenceChanged.next($event.value)' value='five'>
            <mat-button-toggle value='five'>5 minutes</mat-button-toggle>
            <mat-button-toggle value='fib'>Fibonacci</mat-button-toggle>
            <mat-button-toggle value='prime'>Prime</mat-button-toggle>
          </mat-button-toggle-group>
        </div>

        <div [class.fill-width]="(isHandset$ | async) === true" [class.narrow]="(isHandset$ | async) === false"
             class='group'>
          <mat-form-field>
            <mat-label>Note:</mat-label>
            <input #note matInput placeholder='🍅' type='text'>
          </mat-form-field>
        </div>

        <div class='pomodoro-picker group'>
          <span (click)='addPomodoro(p,note.value)'
                *ngFor='let p of this.selectedPomodoroSequence$ | async;'
                [matTooltip]="p + ' minutes'"
                [ngStyle]="{'font-size': (this.calcPomodoroFontSize(p)) + 'em' }">
            🍅
          </span>
        </div>
      </mat-card-content>
    </mat-card>
  </mat-grid-tile>

  <mat-grid-tile>
    <mat-card class='pomodoro-list'>
      <mat-card-header>
        <mat-card-title>Fresh 🍅</mat-card-title>
        <mat-card-subtitle>Total: {{ totalFreshPomodoroTime() | pomodoroTime }}</mat-card-subtitle>
      </mat-card-header>
      <mat-card-content>
        <mat-list>
          <mat-list-item *ngFor='let p of this.freshPomodoroBasket(); first as h' class='pomodoro-list-item'
                         role='list'>
            <span matLine>🍅
              {{ p.seconds | pomodoroTime }} -- {{ p.note }}
            </span>
          </mat-list-item>
        </mat-list>

      </mat-card-content>
    </mat-card>
  </mat-grid-tile>

  <mat-grid-tile>
    <mat-card class='pomodoro-list'>
      <mat-card-title>Rotten 🍅</mat-card-title>
      <mat-card-content>
        <mat-list-item *ngFor='let p of this.rottenPomodoroBasket(); first as h' class='pomodoro-list-item'
                       role='list'>
            <span matLine>🍅
              {{ p.seconds | pomodoroTime }} -- {{ p.note }}
            </span>
        </mat-list-item>

      </mat-card-content>
      <mat-card-footer>
        Total: {{ this.totalRottenPomodoroTime() | pomodoroTime }}
      </mat-card-footer>
    </mat-card>
  </mat-grid-tile>

</mat-grid-list>
