<mat-accordion>
  <mat-expansion-panel>
    <mat-expansion-panel-header>
      <mat-panel-title>Private Key</mat-panel-title>
      <mat-panel-description>Save a private key in the browser's local storage.</mat-panel-description>
    </mat-expansion-panel-header>

    <mat-form-field>
      <textarea matInput cdkTextareaAutosize [ngModel]="privateKey()" (ngModelChange)="privateKey.set($event)" placeholder="RS256 Private Key"></textarea>
      <mat-icon [color]="keySaved() ? 'primary' : 'warn'">save</mat-icon>
    </mat-form-field>
  </mat-expansion-panel>
</mat-accordion>
